.sidebar
  position: absolute
  top: 0
  right: 0
  height: 100%
  border-left: 2px solid black
  width: 20%
  background-color: #294f91
  overflow: hidden

.wrapper__sidebar
  height: 98%
  position: relative

.close-sidebar
  position: absolute
  width: 20px
  height: 20px
  top: 1%
  left: -25px
  border: none
  cursor: pointer
