.register__wrapper
    .main__form
        grid-gap: 15pt
    
.register-input__container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding-top: 20pt
    grid-gap: 20pt
    overflow: hidden

.register__form-help
    overflow: hidden
 
.register__link-login
    cursor: pointer
    transition: 0.3s
    color: #c2c2c2
    
    &:hover
        color: #fff
        transition: 0.3s

.register__btn
    padding-bottom: 20pt